body {
  background-image: url("Background.png");
}
h1 {
	color: black;
	text-align: center;
	animation-name: hAnimation;
	animation-duration: 4s;
	
}
p {
  color: red;
}
canvas{
	padding: 0;
    margin: auto;
    display: block;
    width: 800px;
}
@keyframes hAnimation{
	0% {transform: rotate(10deg);}
	25% {transform: rotate(10deg);}
	50% {transform: rotate(-20deg);}
	75% {transform: rotate(-10deg);}
	100% {transform: rotate(-10deg);}
}
