body {
  background-image: url("Background.png");
}
h1 {
  color: green;
  text-align: center;
  font-family: Arial, Geneva, Helvetica, sans-serif; 
}
p {
  color: red;
}
canvas{
	padding: 0;
    margin: auto;
    display: block;
    width: 800px;
}
